NODE_ENV=
PORT=
CORS_ORIGIN=

DB_USER=
DB_HOST=
DB_DATABASE=
DB_PASSWORD=
DB_PORT=

JWT_SECRET=

SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
CONTACT_TO_EMAIL=
CANDIDATE_TO_EMAIL=
